.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(var(--black), 0.9);
  z-index: 10;
}

// .header__inner {}

.nav {
  @include adaptive-value('padding-top', 25, 0, 1);
  @include adaptive-value('padding-bottom', 25, 0, 1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  max-width: 290px;
}

.nav__img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__theme {
  height: 25px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.nav__theme-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.nav__theme-label {
  position: absolute;
  background-color: var(--black-900);
  border-radius: 100px;
  width: 100%;
  height: 20px;
  border: 1px solid #2B2B2D;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:before {
    content: '';
    position: absolute;
    top: 60%;
    left: -15px;
    width: 27px;
    height: 27px;
    background-color: #2B2B2D;
    box-shadow: 0px 4px 10px rgba(var(--black), 0.6);
    border-radius: 100%;
    transform: scale(1.1) translateY(-50%);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-image: url(../img/light-mode.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.nav__theme-input:checked~.nav__theme-label:before {
  transform: translateX(30px) scale(1.1) translateY(-50%);
}


.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  font-weight: 600;
  line-height: 1.2;
  color: var(--white);

  position: relative;

  &:before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: 3px solid var(--red);
    color: var(--white);
    transition: max-width 0.3s;
  }

  &:focus,
  &:hover,
  &:active {
    &:before {
      max-width: 100%;
    }
  }

  &--active {
    &:before {
      max-width: 100%;
    }
  }
}

.nav__link-btn {
  padding-right: 40px;
  transition: color 0.3s;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../img/arrow-red.svg);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    height: 100%;
  }

  &:focus {
    color: var(--red);
  }

  &:hover {
    color: var(--red);
  }

  &:active {
    color: var(--red);
  }
}

.burger {
  display: none;
}
