// .services {}

// .services__inner {}

.services__title {
  position: absolute;
  bottom: 50%;
  left: -180px;
  transform: rotate(-90deg);
}

// .services__tabs {}

// .services__bottom {}

// .services__social {}

.services__link {
  position: absolute;
  bottom: 200px;
  left: 230px;
}
