.tabs {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.tabs__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs__nav-item {
  margin-bottom: 20px;
}

.tabs__nav-btn {
  background-color: transparent;
  color: var(--white);
  padding: 10px 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;

  &--active {
    background-color: var(--white);
    color: var(--black);
  }

  &:focus {
    background-color: var(--white);
    color: var(--black);
  }

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }

  &:active {
    background-color: var(--white);
    color: var(--black);
  }
}

.tabs__content {
  max-width: 800px;
}

.tabs__panel {
  position: relative;

  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;

  animation-name: animTab;
  animation-duration: 0.8s;

  @keyframes animTab {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20%);
    }

    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }
}

.tabs__img {
  max-width: 580px;
  z-index: -1;
  position: relative;

  margin-bottom: 120px;
}

.tabs__img--bg {
  position: absolute;
  top: 45px;
  left: 60px;
}

.tabs__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.tabs__title {
  position: absolute;
  bottom: 180px;
  right: 59px;

  font-weight: 600;
  font-size: 100px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.tabs__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.105em;
  color: var(--white);
}
