<header class='header'>
  <div class='container'>
    <div class='header__inner'>

      <h1 class="sr-only">
        Lead is a digital innovation studio that leverages best-in-class strategy, design and development
      </h1>

      <!-- ================================ NAVIGATION ================================== -->
      <nav class='nav'>
        <a class='nav__logo' href='/'>
          <img class='nav__img' src='./img/logo-sm.svg' alt='Logotype Site' width='290' height='42'>
        </a>
        <button class="nav__theme" type="button">Light Mode</button>
        <ul class='nav__list'>
          <li class='nav__item'><a class='nav__link' href='/' data-hover="Home">Home</a></li>
          <li class='nav__item'><a class='nav__link' href='#' data-hover="About">About</a></li>
          <li class='nav__item'><a class='nav__link' href='#' data-hover="Reviews">Reviews</a></li>
          <li class='nav__item'><a class='nav__link' href='#' data-hover="Services">Services</a></li>
          <li class='nav__item'><a class='nav__link' href='#' data-hover="Portfolio">Portfolio</a></li>
          <li class='nav__item'><a class='nav__link' href='#' data-hover="Contacts">Contacts</a></li>
        </ul>
        <a class="nav__link-btn" href="#">
          Start a project
        </a>
        <!-- ======================= BURGER ========================== -->
        <button class='burger' type='button' aria-label='Мобильное меню'>
          <span></span>
        </button>
        <!-- ======================= BURGER ========================== -->
      </nav>
      <!-- ================================ NAVIGATION ================================== -->

    </div>
  </div>
</header>
