<section class="portfolio">
  <div class="container">
    <div class="portfolio__inner">

      <h2 class="portfolio__title title">
        Portfolio
      </h2>

      <div class="portfolio__slider swiper">
        <ul class="portfolio__list swiper-wrapper">
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio1.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio2.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio3.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio1.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio1.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio2.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio3.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio1.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio3.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
          <li class="portfolio__item swiper-slide">
            <a class="portfolio__link" href="#">
              <article class="card">
                <div class="card__img">
                  <img src="./img/portfolio1.jpg" alt="portfolio project" width="509" height="334">
                </div>
                <h4 class="card__title">
                  Out zone
                </h4>
              </article>
            </a>
          </li>
        </ul>

        <div class="swiper-scrollbar"></div>
      </div>

      <div class="portfolio__bottom bottom">
        <div class="portfolio__social social">
          <h4 class="social__heading">
            Follow us
          </h4>

          <ul class="social__list">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#beh'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#face'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#inst'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <span class="about__decor scroll">
          Scroll down
        </span>
      </div>

    </div>
  </div>
</section>
