<section class="reviews">
  <div class="container">
    <div class="reviews__inner">

      <div class="reviews__top">
        <h2 class="reviews__title title">
          Reviews
        </h2>

        <a class="reviews__company" href="#">
          <h3 class="reviews__company-title">
            Company:
          </h3>
          <svg class='reviews__company-icon'>
            <use xlink:href='./img/sprite.svg#google'></use>
          </svg>
        </a>
      </div>

      <ul class="reviews__list testimonial">
        <li class="testimonial__item">
          <div class="testimonial__top">
            <div class='testimonial__img'>
              <img src='./img/user.png' alt='User image' width='36' height='36'>
            </div>

            <ul class="testimonial__stars">
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='5/5 rate' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
            </ul>

            <time class="testimonial__date" datetime="2021-12-12">12.12.2021</time>
          </div>

          <div class="testimonial__info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis
            </p>
          </div>
        </li>
        <li class="testimonial__item">
          <div class="testimonial__top">
            <div class='testimonial__img'>
              <img src='./img/user.png' alt='User image' width='36' height='36'>
            </div>

            <ul class="testimonial__stars">
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='5/5 rate' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
            </ul>

            <time class="testimonial__date" datetime="2021-12-12">12.12.2021</time>
          </div>

          <div class="testimonial__info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis
            </p>
          </div>
        </li>
        <li class="testimonial__item">
          <div class="testimonial__top">
            <div class='testimonial__img'>
              <img src='./img/user.png' alt='User image' width='36' height='36'>
            </div>

            <ul class="testimonial__stars">
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='5/5 rate' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
            </ul>

            <time class="testimonial__date" datetime="2021-12-12">12.12.2021</time>
          </div>

          <div class="testimonial__info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis
            </p>
          </div>
        </li>
        <li class="testimonial__item">
          <div class="testimonial__top">
            <div class='testimonial__img'>
              <img src='./img/user.png' alt='User image' width='36' height='36'>
            </div>

            <ul class="testimonial__stars">
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='5/5 rate' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
              <li class="testimonial__star">
                <img src='./img/star.svg' alt='' width='14' height='13'>
              </li>
            </ul>

            <time class="testimonial__date" datetime="2021-12-12">12.12.2021</time>
          </div>

          <div class="testimonial__info">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis
            </p>
          </div>
        </li>
      </ul>

      <div class="reviews__bottom bottom">
        <div class="reviews__social social">
          <h4 class="social__heading">
            Follow us
          </h4>

          <ul class="social__list">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#beh'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#face'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class='social__icon'>
                  <use xlink:href='./img/sprite.svg#inst'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <span class="reviews__decor scroll">
          Scroll down
        </span>
      </div>

    </div>
  </div>
</section>
