// Colors
:root {
  --white: #fff;
  --black: #000;
  --black-900: #131313;
  --red: #FB1B3D;
}


// Fonts
$montserrat: 'Montserrat', Arial, sans-serif;
$potra: 'Potra', Arial, sans-serif;
$body: 'BodyGrotesque', Arial, sans-serif;

// Container page
// $container: 1600px;

